html {
  height: 100%;
  width: 100%;
  
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden}

.peggy{
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
  margin-top: 5.7%;
}
.arrow{
margin-top: -19.8%;
}
.arrow {
  width: 110%;
  margin-left: 12%; 
}

.peggyp2{
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
  margin-top: 5.7%;
}

.arrow2{
margin-top: -19.8%;
}
.arrow2 {
  width: 110%;
  margin-left: 12%; 
}

.peggyp3{
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
  margin-top: 5.7%;
}

.arrow3{
margin-top: -19.8%;
}
.arrow3 {
  width: 110%;
  margin-left: 12%; 
}

.arrow4{
margin-top: -19.8%;
}
.arrow4 {
  width: 110%;
  margin-left: 12%; 
}

.peggyp4{
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
  margin-top: 5.7%;
}

.arrow5{
margin-top: -19.8%;
}
.arrow5 {
  width: 110%;
  margin-left: 12%; 
}

.peggyp5{
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
  margin-top: 5.7%;
}